# Compiled files
*.o
*.sdo
*.so
*.dll
*.dat
*.hex
*.mem
*.exe
*.out

# Vivado files
*.jou
*.log
*.str
*.backup
*.sdk
*.hdf
*.bit
*.runs
*.srcs
*.xpr
*.ltx
*.tmp
*_bd.tcl
*.gb
*.hw
*.xgui

# Quartus files
*.sopcinfo
*.summary
*.pin
*.qws
*.qws_project
*.rpt
*.sld
*.sopc
*.qdf
*.qpf
*.qsf
*.svf
*.srf
*.qip
*.cpf
*.vho
*.vhm
*.hpo
*.tcl
*.sdo
*.jdi

# ModelSim files
*.mti
*.mtl
*.mtb
*.wlf
*.log
*.history
*.lck
*.do
*.bak
*.key
*.state
*.mpf

# Mentor Graphics files
*.amap
*.aps
*.cmp
*.dsn
*.lic
*.syn
*.mrp
*.mtxt
*.sdf
*.dll
*.pdll
*.xltx
*.xmr
*.xrpt
*.log
*.xw1
*.finfo
*.prj
*.sv*
*_rpts

# Aldec Riviera-PRO files
*.bak
*.bakdir
*.bakstate
*.bdeb
*.bdebstate
*.cfg
*.dbg
*.fdo
*.mbt
*.rc
*.rep
*.rtt
*.rwc
*.rtf
*.sig
*.vcd
*.wlf
*.sym
*.pdf
*.mpf
*.csv
*.dat
*.log
*.rps

# Generic VHDL files
*.vcd
*.vhd
*.vhdl
*.vho
*.ucf
*.xdc
*.prj
*.do
*.bit
*.syr
*.cf
*.ngc
*.xrpt
*.xrpt
*.rpt
*.bld
*.html
*.xise
*.ise
*.drc
*.xml
*.tcf
*.ucf
*.log
*.ncf
*.asy
*.obj
*.xwpgui
*.gise
*.xmsgs
*.pcf
*.csv
*.bgn
*.sim
*.lso
*.psr
*.xpe
*.xpe_state
*.uns
*.gise
*.xpe_state
*.o
*.k26
*.cxt
*.dat
*.dirs
*.dll
*.exe
*.log
*.txt
*.lib
*.slv
*.syr
*.dat
*.kdb
*.mif
*.ngd
*.ngc
*.ngr
*.ngt
*.pad
*.par
*.pcf
*.prf
*.ptwx
*.ptwx
*.ptwx
*.ptwx
*.pad
*.bgn
*.drc
*.wbb
*.rbf
*.csv
*.pbb
*.unroutes
*.asc
*.bgn
*.bit
*.bin
*.err
*.hhd
*.msg
*.msm
